---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  google-*,
  llvm-*,
  modernize-*,
  performance-*,
  readability-*
WarningsAsErrors: 'bugprone-*,performance-*'
HeaderFilterRegex: '/(apps|lib|tests)/'
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
  cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: 'true'
  google-readability-braces-around-statements.ShortStatementLines: '1'
  google-readability-function-size.StatementThreshold: '100'
  google-readability-namespace-comments.SpacesBeforeComments: '2'
...
